App/.gradle/2.14.1/taskArtifacts/cache.properties.lock
App/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
App/.gradle/2.14.1/taskArtifacts/cache.properties.lock
App/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
App/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
App/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
App/.gradle/2.14.1/taskArtifacts/cache.properties.lock
App/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
App/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock